{% extends 'base.html' %}
{% block content %}
 

<div class="row row-cols-1 row-cols-md-8">
 
  <div class="col mb-4">
   
    {% for post in posts %}
    <div class="card">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="{{post.image.url}}"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">{{post.title}}</h4>
        <!--Text-->
        <p class="card-text">{{post.descrption}}</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button><a href="{% url 'detail' post.id %}" class="btn btn-primary btn-md">See more photos</button>

      </div>

    </div>
    <!-- Card -->
  </div>
{% endfor %}
</div>

{% endblock %}