{% extends 'base.html' %}
{% block content %}
  
<div class="container">
    <h1>Gallery of location {{ loclist.loc }} </h1>
    {% for post in loclist.posts %}
    <div class="card" style="width:400px">
        <a href="" data-toggle="modal" data-target="#{{post.id}}">
        <img class="card-img-top" src="{{post.image.url}}"  class="img-responsive img-thumbnail image" style="width:100%">
        </a>
    </div>

    <div class="modal fade mode" id="{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title uppercase capital bold " id="myModalLabel">{{post.title}}</h3>

                </div>
                <div class="modal-body">
                    <div class="container">
                        <img src="{{post.image.url}}" class="img-responsive img-thumbnail" alt="Image">
                    </div>
                    <h4>{{post.location}}</h4>
                    <p>{{post.description}}</p>
                    <p>{{post.title}}</p>
                   
                </div>   
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}