{% extends 'base.html' %}
{% block content %}
  
<div class="container">
    <h1>Gallery of location {{ loclist.loc }} </h1>
    {% for post in loclist.posts %}
    <div class="card" style="width:400px">
        <img class="card-img-top" src="{{post.image.url}}" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">{{post.title}}</h4>
            <p class="card-text">{{post.description}}</p>
            <a href="{% url 'detail' post.id %}" class="btn btn-primary">See more photos</a>
        </div>
    </div>
  {% endfor %}
  </div>

{% endblock %}